
<div class ="container mt-5" *ngIf = "tableMode">
         <h2>  Liste of Orders</h2 >
         <button (click) = "onAdd()" class="btn btn-primary my-2">Add New Order</button>
         <table class="table">
    <thead>
        <tr>
          <th>id</th>
          <th>dateOrder </th>
          <th>productNumberOrder</th>
          <th>stateOrder</th>
          <th>amountOrder</th>
          <th>actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of tab">
            <td>{{order.idOrder  }}</td>
            <td>{{order.dateOrder }}</td>
            <td>{{order.productNumberOrder}}</td>
            <td>{{order.stateOrder }}</td>
            <td>{{order.amountOrder }}</td>
            <td>
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon  aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onDelete(order.idOrder)">delete </button>
                <button mat-menu-item (click)="onUpdate(order)" > edit</button>
              </mat-menu>
            </td>
        </tr>
      </tbody>
         </table>
</div>


<!--    <div class ="container mt-5"   *ngIf = "editMode || addmode" >-->
<!--        <h2> {{ header }}</h2 >-->

<!--            <div class ="col">-->


<!--                <form  [formGroup] = "Form">-->
<!--                    <mat-form-field appearance="legacy">-->
<!--                      <mat-label  for="dateOrder">Date of Order</mat-label>-->
<!--                      <input matInput type="date" id="dateOrder"  class="bg-none" formControlName="dateOrder" required>-->
<!--                    </mat-form-field>-->
<!--                  </form>-->

<!--                <form  [formGroup] = "Form">-->
<!--                  <mat-form-field appearance="legacy">-->
<!--                    <mat-label  for="productNumberOrder">ProductNumberOrder</mat-label>-->
<!--                    <input matInput type="number" id="productNumberOrder"  class="bg-none" formControlName="productNumberOrder" required>-->
<!--                  </mat-form-field>-->
<!--                </form>-->

<!--                <form  [formGroup] = "Form">-->
<!--                    <mat-form-field appearance="legacy">-->
<!--                      <mat-label  for="stateOrder">State of Order</mat-label>-->
<!--                      <input matInput type="string" id="stateOrder"  class="bg-none" formControlName="stateOrder" required>-->
<!--                    </mat-form-field>-->
<!--                  </form>-->

<!--                  <form  [formGroup] = "Form">-->
<!--                    <mat-form-field appearance="legacy">-->
<!--                      <mat-label  for="amountOrder">Amount of Order</mat-label>-->
<!--                      <input matInput type="number" id="amountOrder"  class="bg-none" formControlName="amountOrder" required>-->
<!--                    </mat-form-field>-->
<!--                  </form>-->

<!--              </div>-->

<!--              <div class ="col">-->
<!--                <button pRipple class="button" style="width: 110px;" (click)="onSubmit()">Save</button>-->
<!--          </div>-->


<!--    </div>-->
