<div class="container" id="main-container">

<!--<app-slider>-->
<!--  -->
<!--</app-slider>-->

<br>
<br>
<br>

<main role="main">

<!--    <div class="jumbotron">-->
<!--        <div class="container">-->
<!--            <h1> <i> <b>-->
<!--                        <p style="color:red;">{{"consomi" | translate }}</p>-->
<!--                    </b></i></h1>-->
<!--            <p><b>-->
<!--                {{"aboutsite1" | translate }}-->
<!--                </b> </p>-->

<!--        </div>-->
<!--    </div>-->

<br>
<br>
  <style>
    h1 { color: #FF0000; }
  </style>
  <h1> <b>Find your happiness and don't miss the opportunity</b></h1>
  <br>
  <br>
  <app-publicity-home></app-publicity-home>
<br>
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="col-md-4">
      <h2>{{"Why our application?" | translate }}</h2>
      <p> First of all, one of the most important features of our application is that its very easy to use,
        in fact our user who want to sell a product can post it with specific images, price, and all the needed
        details to promote it so we can ensure diversity and unicity even with a great number of vendors .
        Second of all, our application garantee a diverse selection of products, in fact while developing its
        code and its architecture we made sure that we are not limited to just one type of products but we
        include a fonctionalty with which you can search products by the category you are interested in or
        by name and that can save you a lot of time.
      </p>
    </div>

    <div class="col-md-4">
      <h2></h2>
      <h2></h2>
      <h2></h2>
      <p>Also, one of the most important features of Consommi Tounsi is that it goes both ways, what i mean
        is our users can be both vendors or customers they can either post their products and promote it or
        they can choose from our gallery and buy the needed items.
        One more thing, is that Consommi Tounsi platform is both resourceful and valuable, indeed our users
        can participate to cultural and various events thanks to it, not to forget to mention that they can
        also support humanitarian causes by donating or sponsoring various charity philanthropic events.
        Last but not least, one of our important features is that you can wether encourage or criticize by
        rating and commenting sellers and their products in order to ensure the evolution and the development.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Products Bledi Better Lawledi</h2>
      <p>
        Our application is dedicated especially for the tunisian vendors, entrepreurs and small business owners.
        We thought about developing this application in order to encourage tunisian products consomation.
        We strongly believe that these people want the best for our tunisian economy and they want to help,
        so its a great coincidence that our application garantee this fact to them, so If you want to participate
        in this great cause, be an effecient society member and help developing our economy in very easy way we
        will really appreciate welcoming you as one of our users.
      </p>

    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

        <div class="column">
          <div class="card">
              <img src="/assets/pictures/kaouther.jpg"  alt="Mike"  width="250" height="250">
            <div class="container">
              <h2>Kaouther Chalbi</h2>
              <p class="title">Full Stack Developer</p>
              <p>kaouther.chalbi@esprit.tn</p>
              <p><button onclick="location.href='https://www.facebook.com/kaouther.chalbi.1';" class="button">Contact</button></p>
            </div>
          </div>
          </div>


        <div class="column">
          <div class="card">
            <img src="/assets/pictures/mahdi.jpg" alt="John" width="250" height="250">
            <div class="container">
              <h2>Mahdi Zitouni</h2>
              <p class="title">Full Stack Developer</p>
              <p>mahdi.zitouni@esprit.tn</p>
              <p><button onclick="location.href='https://www.facebook.com/mahdi.zitouni';"  class="button">Contact</button></p>
            </div>
          </div>
        </div>

  <div class="column">
    <div class="card">
      <img src="/assets/pictures/IMG_2809.JPG" alt="John" width="250" height="250">
      <div class="container">
        <h2>Nawres Ben Rhouma</h2>
        <p class="title">Full Stack Developer</p>
        <p>nawres.benrhouma@esprit.tn</p>
        <p><button onclick="location.href='https://www.facebook.com/nawres.benrhouma.39/';" class="button">Contact</button></p>
      </div>
    </div>
  </div>


  <div class="column">
          <div class="card">
            <img src="/assets/pictures/sofiene.jpg" alt="John" width="250" height="250">
            <div class="container">
              <h2>Sofiene Adhibi</h2>
              <p class="title">Full Stack Developer</p>
              <p>sofien.adhibi@esprit.tn</p>
              <p><button onclick="location.href='https://www.facebook.com/F4k3sHot';" class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="/assets/pictures/amina.jpg" alt="John" width="250" height="250">
            <div class="container">
              <h2>Amina Kechida</h2>
              <p class="title">Full Stack Developer</p>
              <p>amina.kechida@esprit.tn</p>
              <p><button onclick="location.href='https://www.facebook.com/amina.kechida';" class="button">Contact</button></p>
            </div>
          </div>
        </div>


      <div class="column">
        <div class="card">
          <img src="/assets/pictures/aziz.jpg" alt="Jane" width="250" height="250">
          <div class="container">
            <h2>Med Aziz Ben Haha</h2>
            <p class="title">Full Stack Developer</p>
            <p>medaziz.benhaha@esprit.tn</p>
            <p><button onclick="location.href='https://www.facebook.com/o7A7Ao';" class="button">Contact</button></p>
          </div>
        </div>
      </div>




        <hr>




</main>
</div>
