<div class="col-md-6 offset-md-3">
  <h3> Update Product </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> Product Name</label>
      <input type="text" class ="form-control" id = "nameprod"
             [(ngModel)] = "product.nameprod" name = "nameprod">
    </div>

    <div class="form-group">
      <label> Price</label>
      <input type="text" class ="form-control" id = "price"
             [(ngModel)] = "product.price" name = "price">
    </div>

    <div class="form-group">
      <label> Barcode</label>
      <input type="text" class ="form-control" id = "barcodeprod"
             [(ngModel)] = "product.barcodeprod" name = "barcodeprod">
    </div>

    <div class="form-group">
      <label> Weight</label>
      <input type="text" class ="form-control" id = "weightprod"
             [(ngModel)] = "product.weightprod" name = "weightprod">
    </div>
    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
