<div class="right" >
<label for="Search"> Search</label>
<input type="text" [(ngModel)]="productName" (input)="searchByName()" placeholder="Search By Name..."></div>
<br>
<br>
<div class="wrapper">
    <div class="container">
        <div class="row g-1">

            <div class="col-md-4" *ngFor="let p of ListProducts">

                <div class="card p-3">
                    <h4>{{p.titleProduct}}</h4>
                   <div class="text-center"> <img src="{{'http://localhost:9091/SpringMVC/servlet/Imgarticles/'+p.idProduct}}" width="200"> </div>
                    <div class="product-details">
                      <span class="font-weight-bold d-block"> {{p.buyingPriceProduct}} DT</span>
                      <span>{{p.descriptionProduct}}</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot"></span>Add to cart </button>
                            <td><button class="btn btn-outline-info" routerLink="/client/details/{{p.idProduct}}">Buy</button></td>
                        </div>
                        <div class="weight"> <small style="color: black;">Discount:{{((p.priceProduct-p.buyingPriceProduct)/p.priceProduct)*100}}% </small>
                        <button class="myButton" (click)="onSelect(p)">Details</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
