
<div class ="container mt-5" >
    <h2>  Liste of bills</h2 >
    <button class="btn btn-primary my-2" (click) = "onAdd()" > Add New bill</button>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <mat-icon>search</mat-icon>
      </span>
    </div>
    <input #filterinput type="text" class="form-control" placeholder="">
  </div>
    <table class="table">
<thead>
   <tr>
     <th>id</th>
     <th>montant </th>
     <th>dateBill</th>
     <th>paymentType</th>
     <th>orderid</th>
     <th>actions</th>
   </tr>
 </thead>

 <tbody>
   <tr *ngFor="let bill of tab  |billfilter:filterinput|async " >
       <td>{{bill.idBill}}</td>
       <td>{{bill.montant }}</td>
       <td>{{bill.dateBill}}</td>
       <td>{{bill.paymentType }}</td>
       <td>{{bill.order?.idOrder}}</td>

       <td>
         <button mat-button [matMenuTriggerFor]="menu">
           <mat-icon  aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
         </button>
         <mat-menu #menu="matMenu">
           <button mat-menu-item (click)="onDelete(bill.idBill)">delete</button>
           <button mat-menu-item (click)="onupdateBill(bill)">Update</button>
           <button mat-menu-item (click)="openCheckoutDialog(bill)">checkout</button>
           <button mat-menu-item (click)="export(bill.idBill)">export</button>
         </mat-menu>
       </td>
   </tr>
 </tbody>
    </table>
</div>


